.root {
    -fx-background-color:"black";
}

.button {
    -fx-text-fill: "white";
    -fx-background-color: "black";
    -fx-font-size: 20px;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-cursor: "hand";
    -fx-effect: dropshadow(gaussian, rgba(0,255,255,1), 5, 0, 0, 0);
}
#clsButton{
    -fx-padding: 1px 10px 1px 10px;
}

.label {
    -fx-text-fill: "white";
    -fx-font-size: 20px;
}