.root {
    -fx-background-color:"black";
}

.button {
    -fx-background-color: #000000;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-cursor: hand;
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 20px;
}